body{
	background-color:beige;
	text-align: center;
	border:5vw solid black;
	cursor: pointer;
}



header{
	font-family: cursive;
	color:beige;
	background: linear-gradient( black,black,beige);
	text-shadow:3px 3px 1em black;
	height:8vh;	
	font-size: 3em;
	text-align:center;	
	/*padding:9px;*/
}

h4{
	display: inline-block;
	

}




#do_it{
	height:40vh;
	width: 40vh;	 
}
.rate{
	background-color: red;
	background-image:url('do-its/star.jpg');
	background-size: cover;
	border: 3px solid yellow;
	border-radius: 100%;
	margin:2% 0.2%;
	text-align: center;
	width:100%;
	height:80%;
	display: inline-block;
	font-size:0.6em; 
	color: blue;
}
.rate:hover{
	color:#fee200; 
}
.rated{
	color:yellow;
}
.toos {
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius:15%;
	border: 4px solid black;
	box-shadow: 3px 3px 3px black, -3px 3px 3px black;
}
#info{
	height:10vh;
	background: linear-gradient( beige,black,black,black,black,beige);
}
.info{
	display:inline-block;
}
.show{
	height:30vh;
	width:70vw;
	margin:2.5vh 5vh;
	display: inline-block;
	vertical-align: top;

}
#rateform{
	margin-top:3%; 
	width:50%;
	height:70%;
}
.rateform{
	display:inline-block;	
	height:80%;
	width:18%;
}


.too {
	display: inline-block;
	height: 40px;
	width: 40px;
}

.stars p{
	font-size:27px;
	margin:0;
}
