body{
	background-color:beige;
}
#do_it{
	height:40vh;
	width: 40vh;	 
}
.rate{
	background-color: red;
	border: 3px solid yellow;
	column-count: 6;
	margin:5px;
	text-align: center;
	width:40px;
	display: inline-block;
	font-size:20px; 
	color: blue;
}
.rate:hover{
	color:yellow; 
}
.toos {
	display: inline-block;
	height: 100%;
	width: 100%;
}
.show{
	height: 40vw;
	width: 40vw;
	display: inline-block;
	position: relative;
	vertical-align: top;
}
#rateform{
	position: absolute;
	bottom:20px;
	right:20px;
}
.rateform{
	display:inline-block;
}


.too {
	display: inline-block;
	height: 40px;
	width: 40px;
}
.stars{
	box-shadow: 4px -4px 1em yellow;
	height: 20px;
	width: 20px;
	display: inline-block;
	text-align: center;
	margin:4px;
}
.stars p{
	font-size:27px;
	margin:0;
}

#oneStar p{
	color:rgba(4, 35, 183, 0.88);	
}
#twoStar p{
	color:rgba(19, 35, 183, 0.88);
}
#threeStar p{
	color:rgba(32, 35, 183, 0.88);
}
#fourStar p{
	color:rgba(58, 35, 183, 0.88);
}
#fiveStar p{
	color:rgba(64, 35, 183, 0.88);
}
