<!DOCTYPE html>
<html>
<head>
  <title> Do it Too </title>
 	
 

	<!-- Latest compiled and minified JavaScript -->
	
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/reset.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src='/index.js'></script>
</head>
<body> 
	<header>
		<h1>DO it Too</h1>
	</header>
  <%= erb(:'partials/nav', :layout => false)%>   
  <%= yield %>
  <footer>
  	<h4><span>About:</span> Members of the animal kingdom have been captured(photographed! we love animals) during their free time. They've given us some awesome poses. We want you to <span>Do it Too!</span> lets show them how its done. Every week an animal will strike a pose, try and upload a funny or really accurate copy </h4>
  </footer>
</body>
</html>