<%if @tooedit%>
<h2><%=@message%></h2>
<form method ='POST' action = '/<%=@too.id%>'>
	<input type="hidden" name="_method" value='PUT'>
	<label>Username</label>
	<input type="text" name="username">
	<label>File</label>
	<textarea name="tool_file" ></textarea>
	<input type="file" name="tfile">	
	<input type="submit" value='Did It!'>
</form>

<%else%>
<h2>Rate it?</h2>
<form method ='POST' action = '/<%=@too.id%>/rate' class='rate'>
		<input type="hidden" name="_method" value='PUT'>
	<div class='stars' >	
		<input type="radio" name="rating" value='1'>
		<div id='oneStar'>
			<p>1</p>
		</div>
	</div>
	<div class='stars' >	
		<input type="radio" name="rating" value='2'>
		<div id='twoStar'>
			<p>2</p>
		</div>
	</div>
	<div class='stars' >	
		<input type="radio" name="rating" value='3'>
		<div id='threeStar'>
			<p>3</p>
		</div>
	</div>
	<div class='stars' >	
		<input type="radio" name="rating" value='4'>
		<div id='fourStar'>
			<p>4</p>
		</div>
	</div>
	<div class='stars' >	
		<input type="radio" name="rating" value='5'>
		<div id='fiveStar'>
			<p>5</p>
		</div>
	</div>				
	<input type="submit" value='Rate'>
</form>
<%end%>

