



<form id='form' method ='POST' action = '/' enctype='multipart/form-data'>
	<div class= 'form'>
		<label>Log</label>
		<input type="text" name="username" placeholder="usename">
		<input type="text" name="password" placeholder="password(optional)">
	</div>
	<div class = 'form'>
		<label>File</label>	
		<input type="file" name="tfile">
	</div>
	<input type="submit" value='Did It!'>
</form>