<form method ='POST' action = '/' enctype='multipart/form-data'>
	<div class= 'form'>
		<label>Username</label>
		<input type="text" name="username">
	</div>
	<div class = 'form '>
		<label>File</label>	
		<input type="file" name="tfile">
	</div>
	<input type="submit" value='Did It!'>
</form>