<form method ='POST' action = '/' enctype='multipart/form-data'>
	<label>Username</label>
	<input type="text" name="username">
	<label>File</label>
	<textarea name="too_file" placeholder="enter file"></textarea>	
	<input type="file" name="tfile">
	<input type="submit" value='Did It!'>
</form>