
<section >
	<div class = 'bananas'>
		<img id ='do_it' src="<%=$do_it%>">
		
		<div style = 'margin-top:-50px;'>
			<h4> <%=$do_itm%> </h4>
		</div>
	</div>
</section>


<form id='form' method ='POST' action = '/' enctype='multipart/form-data'>
	<div class= 'form'>
		<label>Log</label>
		<input type="text" name="username" placeholder="usename">
		<input type="text" name="password" placeholder="password(optional)">
	</div><br />
	<div class = 'form'>
			
		<input type="file" name="tfile">
	</div>
	<input type="submit" value='Did It!'>
</form>