<h1>Tooders page</h1>

<% @tooders.each do |tooder| too = Too.show_last_too tooder.id %>
<div class='toos'>

  <a href="/tooder/<%= tooder.id %>"><img class='toos' src='<%= too.too_file%>'></a>
  <a href="/tooder/<%= tooder.id %>"><%= tooder.tooder %></a>

</div>
<% end %>
