<br /><h1>Tooders page</h1><br />

<% @tooders.each do |tooder| too = Too.show_last_too tooder.id %>
<div >

  <a href="/tooder/<%= tooder.id %>"><img class='too' src='<%= too.too_file%>'></a>
  <a href="/tooder/<%= tooder.id %>"><%= tooder.tooder %></a>

</div>
<% end %>
